form#addCoctailForm{
  margin: 0 6%;
  border-radius: 3%;
  border: 15px solid white;
  background: url("./img/background.png") no-repeat;
  background-size: cover;
  background-position: center;
  padding: 5%;
}

form#addCoctailForm h1{
  color: #efbe4c;
  text-shadow: 1px 1px #3a3a3a;
  text-align: center;
  margin: 0 auto 2% auto;
}
form#addCoctailForm div.lineList{
  display:flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 2% 0;
}

form#addCoctailForm div.lineList div[class^="line"]{
  display: flex;
  width: 50%;
}
form#addCoctailForm div.lineList div[class^="line"] input[type="text"]{
  flex-grow: 4;
}
form#addCoctailForm div.lineList div[class^="line"] input[type="number"]{
  flex-grow: 2;
}

form#addCoctailForm div.lineList div[class^="line"] select{
  flex-grow: 1;
  height: 44px;
  text-indent: 2%;
}

form#addCoctailForm input{
  height: 40px;
}

form#addCoctailForm input[type="text"],
form#addCoctailForm input[type="number"],
form#addCoctailForm select, form#addCoctailForm textarea{
  background-color: rgba(0,0,0, 0.6);
  color: #dca14f;
  border: 1px solid #dca14f;
  text-indent: 1em;
}
form#addCoctailForm input[type="text"]:focus,
form#addCoctailForm input[type="number"]:focus,
form#addCoctailForm select:focus, form#addCoctailForm textarea:focus{
  color: #dca14f;
}

form#addCoctailForm input[type="button"]{
  width: 25%;
  background-color: #efbe4c;
  font-size: 110%;
  border-radius: 7px;
  color: white;
}
form#addCoctailForm input[type="button"]:hover{
  background-color: #ff9800;
}

form#addCoctailForm #coctailName{
  width: 50%;
  height: 40px;
}
form#addCoctailForm img{
  width: 200px;
}
form#addCoctailForm textarea#recipe{
  min-height: 160px;
  width: 100%;
  margin: 2% auto;
  display: block;
  resize: none;
  font-size: 1em;
  padding-top: 2%;
}
input.formComponent:required:valid {
  border: 1px green solid ;
}
input.formComponent:required:invalid {

}
form#addCoctailForm p.hidden{
  display: none;
}
form#addCoctailForm div{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
form#addCoctailForm div div#imgPicker{
  width: 50%;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}
form#addCoctailForm div div#imgPicker img{
  max-width: 50%;
}
form#addCoctailForm div div#imgPicker input[type="file"]{
  display: none;
}
form#addCoctailForm div div#imgPicker input[type="button"]{
  width: 50%;
}
form#addCoctailForm input.AddLineBtn{
  float: left;
}
span.errorSpan{
  display: block;
  background-color: rgba(0,0,0, 0.6);
  color: white;
  border-radius: 7px;
  font-size: 12px;
  height: 34px;
  width: 25%;
  text-align: center;
  vertical-align: super;
  float: left;
  padding-top: 6px;
}

@media screen and (max-width: 800px) and (min-width: 480px){
  form#addCoctailForm div.lineList div[class^="line"]{
    width: 100%;
  }
  form#addCoctailForm input.AddLineBtn{
    width: 50%;
  }
  span.errorSpan{
    position: fixed;
    bottom: 10px;
    width: 50%;
  }
}
@media screen and (max-width: 606px) and (min-width: 480px){
  form#addCoctailForm div div#imgPicker input[type="button"]{
    width: 66%;
  }
  form#addCoctailForm div input#sendForm{
    width: 33%;
  }
}

@media screen and (max-width: 479px){
  form#addCoctailForm div.lineList div[class^="line"]{
    width: 100%;
  }
  form#addCoctailForm input[type="button"]{
    width: 50%;
  }
  form#addCoctailForm div div#imgPicker input[type="button"], form#addCoctailForm #coctailName{
    width: 100%;
  }
  span.errorSpan{
    position: fixed;
    bottom: 10px;
    width: 70%;
  }
  form#addCoctailForm textarea#recipe{
    min-height: 100px;
  }
  form#addCoctailForm div div#imgPicker img{
    max-width: 100%;
  }
}
