div.coctailsListPage{
  margin: 0 6%;
  border-radius: 15px;
  border: 15px solid white;
  background: url("./img/indBackground.jpg");
  background-repeat: repeat-y;
  display: flex;
  flex-direction: row;
  min-height: 460px;
  flex-wrap:wrap;
  justify-content: flex-start;
  align-content: stretch;
}

div.coctailsListPage h2{
  color: #bcbcbc;
  text-shadow: 1px 1px #7f7f7f;
  font-size: 1.6em;
  text-align: center;
  margin: 4% auto;
}

div.coctailsListPage article{
  background-color: rgba(0,0,0, 0.75);
  margin: 0.5%;
  border-radius: 15px;
  display: flex;
  min-height: 250px;
  flex-grow: 1;
}

div.coctailsListPage article aside a , div.coctailsListPage article aside a:visited , div.coctailsListPage article aside div{
  color: #a9aec1;
}
div.coctailsListPage article aside a:hover{
  text-shadow: 3px 3px 3px #5f8483;
}
div.coctailsListPage article aside ul{
  list-style-type: decimal;
}
div.coctailsListPage article aside a{
  text-decoration: none;
}
div.coctailsListPage article aside a:first-child{
  text-transform: uppercase;
  margin-bottom: 5px;
}
div.coctailsListPage article aside {
  display: flex;
  margin: 15px 5px 0px 15px;
  flex-direction: column;
}
div.coctailsListPage article:last-child{
  max-width: 60%;
}

div.coctailsListPage article img{
  max-height: 240px;
  max-width: 45%;
  margin: auto 2%;
  border: 2px solid  #a9aec1;
}

@media screen and (max-width: 999px) and (min-width: 300px){
  div.coctailsListPage article:last-child{
    max-width: 100%;
  }
}
