/* @import url('https://fonts.googleapis.com/css?family=Bitter'); */

#app{
  font-family: 'myriad pro', serif;
  background-color: #fbfbfb;
  background-image: url("./img/background.png");
  background-size: 20%;
  background-repeat: repeat-x;
  width: 100%;
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
